body{
    background-color: lightcyan;
}
img{
    height: auto;
    width: 600px;
}
.bottomlink{
    font-size: 24px;
}
ol,
ul{
    border: 2px solid darkgray;
    width: 600px;
    background-color: rgb(232, 232, 232);
}