body{
    background-color: rgb(188, 240, 234);
}
h1{
    font-weight: bold;
}
.forwardlink{
    font-size: 24px;
}
.aboutlink{
    font-style: oblique;
}
h1,
h2,
p{
    font-family: Helvetica, sans-serif;
}